#### Importing packages

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import warnings
import requests
import json


import world_bank_data as wbdata
from sqlalchemy import create_engine
from sqlalchemy_utils.functions import create_database


warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')

#### Display all data sources

In [2]:
topics = wbdata.get_topics().reset_index()

topics

,id,value,sourceNote
0,1,Agriculture & Rural Development,For the 70 percent of the world's poor who liv...
1,2,Aid Effectiveness,Aid effectiveness is the impact that aid has i...
2,3,Economy & Growth,Economic growth is central to economic develop...
3,4,Education,Education is one of the most powerful instrume...
4,5,Energy & Mining,The world economy needs ever-increasing amount...
5,6,Environment,Natural and man-made environmental resources –...
6,7,Financial Sector,An economy's financial markets are critical to...
7,8,Health,Improving health is central to the Millennium ...
8,9,Infrastructure,Infrastructure helps determine the success of ...
9,10,Social Protection & Labor,The supply of labor available in an economy in...
10,11,Poverty,For countries with an active poverty monitorin...
11,12,Private Sector,"Private markets drive economic growth, tapping..."
12,13,Public Sector,Effective governments improve people's standar...
13,14,Science & Technology,"Technological innovation, often fueled by gove..."
14,15,Social Development,"Data here cover child labor, gender issues, re..."
15,16,Urban Development,Cities can be tremendously efficient. It is ea...
16,17,Gender,Gender equality is a core development objectiv...
17,18,Millenium development goals,
18,19,Climate Change,Climate change is expected to hit developing c...
19,20,External Debt,Debt statistics provide a detailed picture of ...
20,21,Trade,Trade is a key means to fight poverty and achi...

In [3]:
data_sources = wbdata.get_sources().reset_index()

data_sources

,id,lastupdated,name,code,description,url,dataavailability,metadataavailability,concepts
0,1,2019-10-23,Doing Business,DBS,,,Y,Y,3
1,2,2020-10-15,World Development Indicators,WDI,,,Y,Y,3
2,3,2020-09-28,Worldwide Governance Indicators,WGI,,,Y,Y,3
3,5,2016-03-21,Subnational Malnutrition Database,SNM,,,Y,Y,3
4,6,2020-10-16,International Debt Statistics,IDS,,,Y,Y,4
...,...,...,...,...,...,...,...,...,...
58,77,2020-12-07,Remittance Prices Worldwide (Receiving Countries),RWR,,,Y,N,3
59,78,2020-10-21,ICP 2017,IC7,,,Y,Y,4
60,79,2020-12-02,PEFA_GRPFM,GRP,,,Y,Y,4
61,80,2020-07-25,Gender Disaggregated Labor Database (GDLD),GDL,,,Y,N,4
62,81,2020-10-21,International Debt Statistics: DSSI,DSI,,,Y,N,4

In [4]:
countries = wbdata.get_countries().reset_index().rename(columns={"name":"Country"})

countries

,id,iso2Code,Country,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.51670
1,AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.52280
2,AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
3,AGO,AO,Angola,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IBRD,Luanda,13.2420,-8.81155
4,ALB,AL,Albania,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Tirane,19.8172,41.33170
...,...,...,...,...,...,...,...,...,...,...
299,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,,Aggregates,Aggregates,,NaN,NaN
300,YEM,YE,"Yemen, Rep.",Middle East & North Africa,Middle East & North Africa (excluding high inc...,Low income,IDA,Sana'a,44.2075,15.35200
301,ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.74600
302,ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IDA,Lusaka,28.2937,-15.39820
303,ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.83120

In [5]:
indicators = wbdata.get_indicators(topic=20, source=6).reset_index()

indicators.head()

,id,name,unit,source,sourceNote,sourceOrganization,topics
0,BM.GSR.TOTL.CD,"Imports of goods, services and primary income ...",,International Debt Statistics,"Imports of goods, services and primary income ...","International Monetary Fund, Balance of Paymen...","Economy & Growth,External Debt,Trade"
1,BN.CAB.XOKA.CD,"Current account balance (BoP, current US$)",,International Debt Statistics,Current account balance is the sum of net expo...,"International Monetary Fund, Balance of Paymen...","Economy & Growth,External Debt"
2,BX.GRT.EXTA.CD.DT,"Grants, excluding technical cooperation (curre...",,International Debt Statistics,Grants are defined as legally binding commitme...,"World Bank, International Debt Statistics.",External Debt
3,BX.GRT.TECH.CD.DT,Technical cooperation grants (current US$),,International Debt Statistics,Technical cooperation grants include free-stan...,"World Bank, International Debt Statistics.",External Debt
4,BX.GSR.TOTL.CD,"Exports of goods, services and primary income ...",,International Debt Statistics,"Exports of goods, services and primary income ...","International Monetary Fund, Balance of Paymen...","Economy & Growth,External Debt,Trade"

#### Uplaod data to PostgreSQL

In [8]:
# Create database on PostgreSQL
create_database("postgresql://postgres:Psm@20696@localhost:5432/InternationalDebt")

# Connect to the database created
engine = create_engine("postgresql://postgres:Psm@20696@localhost:5432/InternationalDebt")
con = engine.connect()

# Uploading debt statistics data 
for index in tqdm(range(len(indicators["id"].unique()))):
    try:
        df = pd.DataFrame(wbdata.get_series(indicator=indicators["id"].unique()[index]))\
                                                                        .reset_index()\
                                                                        .rename(columns={indicators["id"].unique()[index]:
                                                                                         "debt"})

        df["indicator_code"] = indicators["id"].unique()[index]

        df["indicator_name"] = indicators["sourceNote"][indicators["id"]==indicators["id"].unique()[index]]\
                                                                                .reset_index()["sourceNote"][0]

        df = df.merge(countries, on="Country", how="left")
        
        
        df[~df.debt.isna()].to_sql("debt_stats_table_{}".format(index), 
                                   con,
                                   if_exists="append",
                                   index=False)
    except:
        pass

100%|████████████████████████████████████████████████████████████████████████████████| 497/497 [01:12<00:00,  6.82it/s]

#### Connect to PostgreSQL Database

In [9]:
%load_ext sql

%sql postgresql://postgres:Psm@20696@localhost:5432/InternationalDebt

#### Analyzing Long term debt in table: debt_stats_table_170

#### Query 1: The World Bank's international debt data

In [10]:
%%sql
SELECT * FROM debt_stats_table_1 LIMIT 10

 * postgresql://postgres:***@localhost:5432/InternationalDebt
10 rows affected.

[('Euro area', 'Current account balance (BoP, current US$)', '1999', -25866972479.8139, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2000', -83833383658.8232, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2001', -24223902231.2352, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2002', 44579556206.1366, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2003', 24891688306.4586, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2004', 81294164424.213, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2005', 19188044538.2894, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2006', -356367033.279076, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2007', 24870211054.706, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None),
 ('Euro area', 'Current account balance (BoP, current US$)', '2008', -262381102813.105, 'BN.CAB.XOKA.CD', 'Current account balance is the sum of net exports of goods and services, net primary income, and net secondary income. Data are in current U.S. dollars.', 'EMU', 'XC', 'Aggregates', '', 'Aggregates', 'Aggregates', '', None, None)]

#### Query 2: Finding the number of distinct countries

In [11]:
%%sql
SELECT COUNT(DISTINCT("Country")) AS total_distinct_countries
FROM debt_stats_table_1

 * postgresql://postgres:***@localhost:5432/InternationalDebt
1 rows affected.

[(198,)]

#### Query 3: Finding out the distinct debt indicators

In [12]:
%%sql
SELECT DISTINCT("indicator_code") AS distinct_debt_indicators
FROM debt_stats_table_1

 * postgresql://postgres:***@localhost:5432/InternationalDebt
1 rows affected.

[('BN.CAB.XOKA.CD',)]

#### Query 4: Total amount of external debt owed by all countries

In [13]:
%%sql
SELECT SUM("debt") AS total_debt FROM debt_stats_table_1

 * postgresql://postgres:***@localhost:5432/InternationalDebt
1 rows affected.

[(1586362266994.2258,)]

#### Query 5: Which country owes the maximum debt?

In [14]:
%%sql
SELECT DISTINCT("Country") 
FROM debt_stats_table_1 
WHERE debt =  (SELECT MAX(debt) 
               FROM debt_stats_table_1)

 * postgresql://postgres:***@localhost:5432/InternationalDebt
1 rows affected.

[('China',)]

#### Query 6: Average amount of debt across each country

In [15]:
%%sql
SELECT "Country", ROUND(AVG("debt")) AS average_debt
FROM debt_stats_table_1
GROUP BY "Country"
ORDER BY average_debt 
LIMIT 20

 * postgresql://postgres:***@localhost:5432/InternationalDebt
20 rows affected.

[('United States', -238316851000.0),
 ('United Kingdom', -39247292890.0),
 ('Australia', -29949495955.0),
 ('Brazil', -19690641827.0),
 ('Spain', -16453666808.0),
 ('India', -13404787364.0),
 ('Turkey', -12406804348.0),
 ('Mexico', -11853315221.0),
 ('Canada', -11275995206.0),
 ('Greece', -8811278708.0),
 ('Lebanon', -7467711038.0),
 ('Poland', -6916386364.0),
 ('Portugal', -5840860100.0),
 ('New Zealand', -5198608707.0),
 ('Indonesia', -4350372648.0),
 ('Argentina', -4189254272.0),
 ('Ireland', -4146866197.0),
 ('Serbia', -3821137436.0),
 ('Colombia', -3612625412.0),
 ('Romania', -3306315730.0)]

#### Query 7: Maximum debt owed by each country

In [16]:
%%sql

SELECT "Country",MAX("debt") AS maximum_debt
FROM debt_stats_table_1
GROUP BY "Country"
ORDER BY maximum_debt 
LIMIT 20

 * postgresql://postgres:***@localhost:5432/InternationalDebt
20 rows affected.

[('Serbia', -1190023037.02746),
 ('Lebanon', -1116363496.34038),
 ('Mozambique', -755428331.409697),
 ('Cayman Islands', -706577023.5098),
 ('Curacao', -505815642.458101),
 ('Montenegro', -443138379.645407),
 ('Rwanda', -426823050.28251),
 ('New Zealand', -418287193.422601),
 ('Bosnia and Herzegovina', -345110797.325196),
 ('Kosovo', -241164649.608963),
 ('Georgia', -175899687.6),
 ('Burkina Faso', -160392828.487696),
 ('Greece', -146000000.0),
 ('Cambodia', -87877926.7863017),
 ('Costa Rica', -75200000.0),
 ('Armenia', -67730000.0),
 ('Senegal', -65599060.2714795),
 ('Honduras', -51400000.0),
 ('Tanzania', -27030488.9364998),
 ('North Macedonia', -25600396.88539)]